<ion-header >
  <ion-toolbar color="primary">
    <ion-buttons>
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{loadedRecipe.title}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid no-padding>
    <ion-row >
      <ion-col no-padding>
        <ion-img [src]="loadedRecipe.imageURL"></ion-img>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
          <h1 class="title">{{loadedRecipe.title}}</h1>
      </ion-col>
    </ion-row>
    <ion-row *ngFor="let ig of loadedRecipe.ingredients">
      <ion-col>
        {{ig}}
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>